.title {
  margin-top: $margin-title;

  /* font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 24px; */

  font: $font-title;

  color: $color-aqua;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
}