<h2>Sobre nosotras</h2>
<h3>MariCarmen</h3>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, porro sit quas doloremque consequuntur vero vel quam autem, eligendi ratione iste temporibus labore expedita qui saepe. Officia porro vitae explicabo.</p>

<h3>Iván</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatem cum neque aliquam autem molestias similique minus consequatur tempora quibusdam. Molestias provident nesciunt, libero obcaecati animi earum eum deserunt sit!</p>
<img src="images/Ivan.jpg" alt="Foto de Ivaniyo">