<section>
  <h2 class="title">Equipo</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit veritatis aperiam libero necessitatibus, ipsa asperiores dolore, sed eius doloribus atque sunt minima esse voluptatum sequi praesentium dicta earum maiores!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit veritatis aperiam libero necessitatibus, ipsa asperiores dolore, sed eius doloribus atque sunt minima esse voluptatum sequi praesentium dicta earum maiores!</p>
</section>